.textos2{
    display: flex;
}




.textoeimg{display:block;}


.pag1{
height: 450px;
    align-items: center;
    justify-content: center;
background-image:url(./imagens/download.jpeg);
background-size: cover;}

.txtprincipal{color: white;
    padding-top: 250px;}

body{background-color:white;
color: black;}

.pag2{
    padding: 60px;
    height: 450px;
    align-items: center;
    justify-content: center;
}

.pag3{height: 450px;
    align-items: center;
    justify-content: center;
    background-color: black;
display: flex;}

.txtpag3{color:white}

.pag4{height: 450px;
    align-items: center;
    justify-content: center;
    display: flex;}

.pag5{height: 450px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #EAECF0;}

.bloco1{width: 50%;}
.bloco2{width: 50%;}
.bloco1pag4{width: 50%;}
.bloco2pag4{width: 50%;}
.bloco1pag5{width: 50%;}
.bloco1pag5{width: 50%;}
